body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  background-color: #f7f9fd;
}

.sidebar {
  flex: 1;
  padding: 30px;
  color: rgb(235, 235, 235);
  background-color:black;
}

.logo {
  padding: 1px;
  font-size: 2rem;
}

ul {
  list-style: none;
}

.navlink {
  padding: 10px;
  margin: 20px 0;
  color: #c2c0c9;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  display: block;
  text-align: center; 
}

.navlink::before {
  display: none;
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 10px;
}
.navlink:hover::before {
  display: block;
}
.navlink:hover {
  color: #1a1053;
}

.main {
  background-color:whitesmoke;
  padding-right: 70px;
  flex: 9;
}
.head span {
  font-size: 1.7rem;
  font-weight: 900;
  padding: 0px 20px;
}

.global-status {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-3 {
  flex: 1;
  max-width: 33.33%;
  padding: 10px;
}

.status-box {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 5px;
  line-height: 2rem;
  box-shadow: 0px 0px 10px 0px rgb(226, 228, 230);
  background-color: black;
}

.total,
.active,
.recoverd,
.death {
  font-size: 2rem;
  padding: 5px 0px;
}
.map-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgb(226, 228, 230);
  padding: 10px;
  border-radius: 30px;
  margin: 1rem;
  display: flex;
}
.search-box #searchByCountry {
  padding: 13px 17px;
  margin-left: 30px;
  border-radius: 20px;
  border: none;
  background-color: #f0f3f7;
  text-align: center;
}

#searchByCountry::placeholder {
  color: #9b98b0;
}
.country-list {
  padding: 0 10px;
  max-height: 400px;
  overflow-y: scroll;
}

.country-data {
  font-size: 1.5rem;
  font-weight: 400;
  color: #9e9bb3;
  padding: 10px 5px;
}

.country-data span {
  color: #000;
  margin-right: 10px;
}

.stats {
  flex: 4;
  padding: 10px;
}
.show {
  display: block !important;
}
.content {
  padding: 20px;
}
.content h1 {
  margin-bottom: 1.5rem;
}
.content p {
  color: rgb(44, 43, 43);
  margin-bottom: 2rem;
  font-weight: 200;
  line-height: 1.5rem;
}

@media (max-width: 786px) {
  .col-3 {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 670px) {
  .wrapper,
  .map-container {
    flex-flow: column;
  }
  .nav {
    display: none;
  }
  .main {
    margin-left: 0;
    padding: 10px 0;
  }
}